* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container1 {
  background-color: #1F2937;
  padding: 20px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.header-left, .header-right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

#logo {
  font-size: 24px;
  color: #F9FAF8;
}

.link {
  font-size: 18px;
  color: #E5E7EB;
}

ul {
  display: flex;
}

h1 {
  font-size: 48px;
  font-weight: bolder;
  color: #F9FAF8;
}