* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container1 {
  background-color: #1F2937;
  padding: 20px;
}

.header {
  display: flex;
  flex-direction: row;
  margin: 20px;
  padding-bottom: 20px;
}

.header-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
}

.header-right {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

ul {
  gap: 30px;
}

#logo {
  font-size: 24px;
  color: #F9FAF8;
}

.link {
  font-size: 18px;
  color: #E5E7EB;
  text-decoration: none;
}

ul {
  display: flex;
}

h1 {
  font-size: 48px;
  font-weight: bolder;
  color: #F9FAF8;
  margin-bottom: 10px;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.hero-left, .hero-right {
  width: 50%;
}

.hero-left p {
  color: #F9FAF8;
  margin-bottom: 15px;
}

.hero-btn {
  background-color: rgba(57, 14, 248, 0.838);
  color: #F9FAF8;
  padding: 10px 20px;
  border: 3px solid #1F2937;
  border-radius: 8px;
}

.hero-right img {
  padding: 50px;
}